name: Deploy application
 
on:
  push:
    branches: [ master ]
 
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy ASP.NET core App
        uses: fifsky/ssh-action@master
        with:
         command: |
           cd /var/www/api-votoe/
           rm -R projetkm
           git pull https://github.com/belhart/projektm.git
           cd projektm
           dotnet build --force
           dotnet publish --configuration Release --force
           sudo systemctl stop kestrel-helloapp.service
           sudo systemctl start kestrel-helloapp.service
         host: ${{ secrets.REMOTE_HOST }}
         user: ${{ secrets.REMOTE_USER}}
         pass: ${{ secrets.REMOTE_PASSWORD}}
